<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE MudletPackage>
<MudletPackage version="1.001">
	<TriggerPackage />
	<TimerPackage />
	<AliasPackage>
		<Alias isActive="yes" isFolder="no">
			<name>Capture legal commands</name>
			<script>local cmd = matches[2]
local args = matches[3]

Mapper:handleCommand(cmd,args)</script>
			<command></command>
			<packageName></packageName>
			<regex>#(?i)(\bmap\b|\bhelp\b)(?-i)\s*(.*)$</regex>
		</Alias>
	</AliasPackage>
	<ActionPackage />
	<ScriptPackage>
		<ScriptGroup isActive="yes" isFolder="yes">
			<name>FR_Mapper</name>
			<packageName></packageName>
			<script></script>
			<eventHandlerList />
			<Script isActive="yes" isFolder="no">
				<name>MainMapperScript</name>
				<packageName></packageName>
				<script>Mapper = Mapper or {}
Mapper.version = "0.0.1"
Mapper.debug = Mapper.debug or false
Mapper.options = Mapper.options or {}
Mapper.handlers = Mapper.handlers or {}
Mapper.handlerIdxs = Mapper.handlerIdxs or {}



-- Need:
-- * Alias to capture #MAP/WALK commands
-- * Macros to capture "shift" commands
-- * Event handler to capture gmcp room
-- Support:
-- * version
-- * about
-- * help
-- * autoupdate

function Mapper:log(text)
  if Mapper.debug==true then
    debugc("Mapper:"..text)
  end
end

</script>
				<eventHandlerList />
			</Script>
		</ScriptGroup>
	</ScriptPackage>
	<KeyPackage />
	<HelpPackage>
		<helpURL></helpURL>
	</HelpPackage>
</MudletPackage>
